%ul#menu-builder.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#menu-builder-media", role: "tab"} add media
  %li
    %a{"data-toggle" => "tab", href: "#menu-builder-editor", role: "tab"} add content
  %li
    %a{"data-toggle" => "tab", href: "#menu-builder-layout", role: "tab"} add layout
\

#menu-builder-content.tab-content
  .tab-pane.fade.in.active#menu-builder-media
    .clearfix
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Image" }
        = partial('layouts/partials/components/menu/builder-image')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Video" }
        = partial('layouts/partials/components/menu/builder-video')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Masonry" }
        = partial('layouts/partials/components/menu/builder-masonry')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Youtube" }
        = partial('layouts/partials/components/menu/builder-youtube')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Soundcloud" }
        = partial('layouts/partials/components/menu/builder-soundcloud')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Audio" }
        = partial('layouts/partials/components/menu/builder-audio')
  / #menu-builder-media
  \

  .tab-pane.fade#menu-builder-editor
    .clearfix
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Text" }
        = partial('layouts/partials/components/menu/builder-text')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Line" }
        = partial('layouts/partials/components/menu/builder-line')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Icon" }
        = partial('layouts/partials/components/menu/builder-icon')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "List" }
        = partial('layouts/partials/components/menu/builder-list')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Button" }
        = partial('layouts/partials/components/menu/builder-button')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Tabs" }
        = partial('layouts/partials/components/menu/builder-tabs')
      .menu-builder-item.menu-builder-element.element{ "data-type" => "Accordion" }
        = partial('layouts/partials/components/menu/builder-accordion')
  / #menu-builder-editor
  \

  .tab-pane.fade#menu-builder-layout
    .clearfix
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 1/1' } }
        = partial('layouts/partials/components/menu/builder-layout1')
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 1/2' } }
        = partial('layouts/partials/components/menu/builder-layout2')
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 1/3' } }
        = partial('layouts/partials/components/menu/builder-layout3')
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 2/3' } }
        = partial('layouts/partials/components/menu/builder-layout4')
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 1/4' } }
        = partial('layouts/partials/components/menu/builder-layout5')
      .menu-builder-item.menu-builder-grid.element{ data: { type: 'Layout 3/4' } }
        = partial('layouts/partials/components/menu/builder-layout6')
  / #menu-builder-layout
